body {
    margin: 0;

}

.container{
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 0.25fr 1fr ;
    grid-template-rows: 50px 1fr;
    gap: px;

    padding: 10px;
    box-sizing: border-box;
}

.container div{
    padding: 10px;
    border: 1px solid black;

}

.header {
    grid-column: 1/3;
    background-color: #fee350;
}

.body {
    grid-template-rows: 2/span 2;
    
}
.sidebar {
    background-color: #242424;
}

.header h3{
    margin: 0;
    display: inline-block;
}
.header a{
    display: inline-block;
    text-decoration: none;
    float: right;
    margin: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    top: -30px;
    border-radius: 5px;
    color: #242424;
}

.header a:hover{
    background-color: #fec750;
}
.sidebar a{
    display: block;
    text-decoration: none;
    padding: 20px;
    left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fee350;
    border-bottom: 1px solid #fee350;
}

.sidebar a:hover{
    background-color: #fee350;
    color: #242424
}

.body {
    height: 100%;
    padding: 40px 100px 100px;
}

.table-header{
    background-color: #eeeaea;
}
.table-header h3 {
    display: inline-block;
    margin: 0;
    padding: 10px;
}
.table-header a {
    text-decoration: none;
    background: #fee350;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #242424;
}
.table-header a:hover{
    background-color: #fec750;
}

table {
    padding: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #fafafa;
}

th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #242424;
}
.edit, .delete {
    text-decoration: none;
}

.edit{
    color: green;
}
.delete{
    color: red;
}
.edit:hover, .delete:hover{
    text-decoration: underline;
}
